<%= simple_form_for @ad do |f| %>
  <% if can? :edit, Ad %>
    <div class="form-group">
      <%= f.input :type_id, collection: @options, label: 'Type', error: 'type error', required: false %> 
      <%= f.input :title, label: 'Title', error: 'Title is mandatory, please specify one', required: false %>
      <%= f.input :body, as: :text, label: 'Advert', error: 'Please write down you advertisement', required: false %>    
    </div>
        
    <div class="field">
      <%= image_tag(@ad.image_url) if @ad.image? %> 
      <%= f.input :image, label: 'Icon' %>
      <%= f.hidden_field :image_cache %>
    </div> 

    <div id="tasks">
      <%= f.simple_fields_for :pictures do |form| %>
        <%= render 'picture_fields', :f => form %>
      <% end %>    
    </div>
    
    <button type="button" class="btn btn-secondary btn-sm">
      <%= link_to_add_association 'add picture', f, :pictures %>
    </button> 
  <% end %>
  
  <% unless @ad.new_record? %>
    <div class="field">
      <%= f.input :state, collection: @ad.state_paths(:from => :draft, :to => :new).to_states  %>
    </div>
  <% end %>

  <p class="mb-4">
    <div class="actions">
      <%= f.submit 'done', :class => 'btn btn-primary btn-lg' %>
    </div>
  </p>
<% end %>