<%= simple_form_for @ad do |form| %>

  <div class="field">
    <%= form.input :title, label: 'Title', error: 'Username is mandatory, please specify one', required: false, id: :post_title %>
  </div>

  <div class="field">
    <%= form.input :body, as: :text, label: 'Advert', error: 'Please write down you advertisement', required: false, id: :post_body %>
  </div>

  <div class="field">
    <%= form.input :type_id, collection: @options %>
  </div>
    
  <div class="field">
    <%= image_tag(@ad.image_url) if @ad.image? %> 
    <%= form.file_field :image %>
    <%= form.hidden_field :image_cache %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
