<hh> <%= t('ads.index.heading') %> </hh>

<%= form_tag ads_path, method: :get, id: 'ads_search' do %>
	<p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", title: nil %>
   </p>
	<div id="ajax">
		<%= render 'ajax' %>
	</div>
<% end %>

