<p id="notice"><%= notice %></p>

<h1>Ads</h1>
<% @ads.each do |ad| %>
  <p><%= ad.title %></p>
  <p><%= ad.body %></p>     
  <p><%= link_to 'Show', ad %> | <%= link_to 'Edit', edit_ad_path(ad) %> | <%= link_to 'Destroy', ad, method: :delete, data: { confirm: 'Are you sure?' } %></p>
<% end %>

<br>
<%= link_to 'New Ad', new_ad_path %>
