<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
		<p id="notice"><%= notice %></p>

		<h3><%= @ad.title %></h3>
		<p><%= @ad.body %></p>
		<img src=<%= @ad.image %>>
		<% if can? :manage, @ad %><%= link_to 'Edit', edit_ad_path(@ad) %><% end %> | <%= link_to 'Back', ads_path %>
</div>
</div>
</div>