<hh><%= @types.find(@ad.type_id).ad_type %> | </hh><hu><i>by: <b><%= @users.find(@ad.user_id).username %></b> </i></hu>
<div class="container">
  	<div class="row justify-content-md-center">
    	<div class="col-md-auto">
			<p id="notice"><%= notice %></p>
			<h2><%= @ad.state.upcase %></h2>
			<h1><b><%= @ad.title %></b></h1>
			<p class="mb-4"><%= @ad.body %></p>
			<img src=<%= @ad.image %>>
			<% if can? :manage, @ad %><%= link_to 'Edit', edit_ad_path(@ad) %><% end %><%= link_to '| Back', :back %>
		</div>
	</div>
</div>