<div class="container">
  <div class="row justify-content-md-center">
    <% @ads.each do |ad| %>
      
        <div class="col-md-auto">
          <table>
            <tr><td>  
              <%= ad.state.upcase %>
            </td></tr>
            <tr><td>
              <h2>| <%= @types.find(ad.type_id).ad_type %> </h2>
            </td></tr>
            <tr><td>
              <h3><b><%= ad.title %></b></h3>  
            </td></tr>
            <tr><td>
              <%= ad.body %>
            </td></tr>
          
            <tr><td>
              <% if can? :read, ad %>
                <%= link_to 'show', ad %> | 
              <% end%>
              <% if can? :update, ad %> 
                <%= link_to 'edit', edit_ad_path(ad) %> |
              <% end %> 
              <% if can? :destroy, ad %>
                <%= link_to 'destroy', ad, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </td></tr>                   
          </table>  
        </div>
     
    <%end%>
  </div>
</div>