<hh>MANAGE USERS | <button class="btn btn-primary btn-lg"><%= link_to 'CREATE', users_new_path %></button></hh>
<div class="container">
 	<div class="row justify-content-md-center">
  	<% @users.each do |u| %>
    	<div class="col-md-auto">
	   		<p class="mb-4">			
					<h3>user:</h3> <hu>| <%= u.username.capitalize %></hu>
					<h3>role:</h3> <hu>| <i><%= u.role %></i></hu>
			  </p><br>
				
				<% if can? :edit, u %>
					<button type="button" class="btn btn-secondary btn-sm">
						<%= link_to 'EDIT', controller: :users, action: :edit, id: u.id %>
					</button>
	  		<%end%> 

	  		<table id="ads">
	  			<% u.ads.each do |a| %>
	  				<tr><td>
	  					<b><%= a.title %></b> | <u><%= link_to "#{a.state}", edit_ad_path(a) %></u>
	  				</td></tr>	  					  		
			  	<%end%>			
			  </table>
		  </div>
	  <%end%>
	</div>
</div>